:root {
  --primarybackgroundcolor: #ebecef;
  --secondarybackgroundcolor: #fff;
  --primaryaccentcolor: #50C878;
  --textcolor: #070707;
  --othertextcolor: #fff;
  --otherothertextcolor: #070707;
  --hoveraccentcolor: #cccdcf;
}

body {background-color: var(--primarybackgroundcolor); font-family: "Freemono", monospace; color: var(--textcolor);}
    h1 {font-size: 40px; color: var(--textcolor)}
    h2 {font-size: 25px; color: var(--textcolor)}
    h3 {font-size: 20px; color: var(--textcolor)}
    button {font-family: "Freemono", monospace;}
    
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}
#tmr {
  display: none;
}

.navbar {
  color: var(--textcolor);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.modeswitch {
  width: 80%;
  background-color: var(--secondarybackgroundcolor);
  color: var(--textcolor);
  border: solid 1px var(--secondarybackgroundcolor);
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; 
  -khtml-border-radius: 20px;
}
.modeswitch button{
  background-color: inherit;
}
.modeswitch button.active{
  background-color: var(--hoveraccentcolor);
}

#stopwatchbody {
  width: 80%;
  background-color: var(--secondarybackgroundcolor);
  color: var(--textcolor);
  border: solid 1px var(--secondarybackgroundcolor);
  text-align: center;
  margin: auto;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; 
  -khtml-border-radius: 20px;
}

.clockui {
  background-color: #000; 
  color: var(--primaryaccentcolor); 
  width: 124px; 
  margin: auto; 
  border-radius: 5px;
}

.clock {
    color: var(--primaryaccentcolor);
}

#button-reset {
    display: none;
}

#timer-button-start {
    display: none;
}
#timer-button-reset {
    display: none;
}
#timer-button-stop {
    display: none;
}

#tododiv {
  background-color: var(--secondarybackgroundcolor);
  border: solid 1px var(--secondarybackgroundcolor);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; 
  -khtml-border-radius: 20px;
  padding-bottom: 21px;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  font-size: 18px;
  transition: 0.2s;
  width: 85%;
  margin: auto;
  color: var(--textcolor);

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Darker background-color on hover */
ul li:hover {
  background: var(--primarybackgroundcolor);
  color: var(--textcolor);
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: var(--primaryaccentcolor);
  color: var(--othertextcolor);
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: var(--secondarybackgroundcolor);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: var(--othertextcolor);
}

/* Style the header */
.header {
  padding: 10px 40px;
  padding-bottom: 21px;
  color: 070707;
  text-align: center;
  margin: auto;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  font-family: FreeMono, monospace;
  margin: 0;
  border: solid 1px var(--textcolor);
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  float: center;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 15%;
  background: #070707;
  color: var(--primaryaccentcolor);
  float: center;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border: solid 1px black;
  border-radius: 5px;
}

.addBtn:hover {
  background-color: var(--primaryaccentcolor);
  border: solid 1px var(--primaryaccentcolor);
  color: var(--othertextcolor);
  border: solid 1px var(--primaryaccentcolor);
}

.buttonstylep {
font-family: FreeMono, monospace;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
-khtml-border-radius: 5px; 
background:var(--primaryaccentcolor);
color: var(--othertextcolor);
border: solid 2px var(--otherothertextcolor);
text-decoration:none;
text-align: center;
cursor:pointer;
padding:5px 0px;
width:130px;
margin: 2px 1px 2px 1px;
 outline: none;
}
.buttonstylep:hover{
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
	background:#28a050;
	border: solid 2px var(--textcolor);
	color:var(--othertextcolor);
}

.buttonstyle1 {
font-family: FreeMono, monospace;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
-khtml-border-radius: 5px; 
background: var(--primarybackgroundcolor);
color: var(--otherothertextcolor);
border: solid 2px var(--textcolor);
text-decoration:none;
text-align: center;
cursor:pointer;
padding:5px 0px;
width:130px;
margin: 2px 1px 2px 1px;
outline: none;
}
.buttonstyle1:hover{
	-webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
	background: var(--hoveraccentcolor);
	border: solid 2px var(--textcolor);
	color: var(--otherothertextcolor);
}


.imagelink{
  text-decoration: none;
}

#BIGGESTDIV {
  animation: fadeEffect 1s;
}
.tabcontent {
  animation: fadeEffect 0.5s;
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*modal background*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  animation: fadeEffect 0.3s;
}

/*modal content*/
.modal-content {
  background-color: var(--secondarybackgroundcolor);
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid var(--primarybackgroundcolor);
  width: 45%;
  border-radius: 15px;
}

.settingsbutton {
  font-family: FreeMono, monospace;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  -khtml-border-radius: 5px; 
  background: var(--primarybackgroundcolor);
  color: var(--textcolor);
  border: solid 2px var(--textcolor);
  text-decoration:none;
  text-align: center;
  cursor:pointer;
  padding:5px 0px;
  width:80px;
  margin: 2px 1px 2px 1px;
   outline: none;
} .settingsbutton:hover{
  -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    background: var(--hoveraccentcolor);
    border: solid 2px var(--textcolor);
    color:var(--textcolor);
}

#lightdarktoggle {
  margin-top: 10px;
  padding: 5px 5px 5px 5px;
  font-family: FreeMono, monospace;
  font-size: 12pt;
  text-align: left;
  border-radius: 5px;
  border: solid 1px var(--textcolor);
}

#statsdiv {
  padding: 2px;
  padding-left: 20px;
  margin: auto;
  margin-top: 10px;
  width: 80%;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; 
  -khtml-border-radius: 20px;
  background-color: var(--secondarybackgroundcolor);
  color: var(--textcolor);
}